body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}


   /*  background: url(../images/home.jpg);  бекграунд */
    
    

a{
    text-decoration: none; 
}

/*navbar*/

.navbar{
    background-color: darkslateblue;
    list-style: none;
}

img{
    display: block;

}


.title{
    color: rgb(253, 186, 0);
    text-align: center;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.about{
color: rgb(243, 159, 4);
}

.contact{
color: rgb(243, 159, 4);
}
.blog{
    color: rgb(243, 159, 4);
}
.home{
    color: rgb(243, 159, 4);

    
}
.like{
    color: rgb(243, 159, 4);
    
}
.basket{
    color: rgb(243, 159, 4)
    ;
}
/*  sitebar*/

.cat{
    list-style: none;
    color: antiquewhite;
}

/*main*/
.main{
    margin-bottom: 50px;
}


/*footer*/
.bg-dark{
    background-color: rgb(78, 75, 75);
}
.text-white{
color: rgb(51, 47, 47);
list-style: none;
}

.f-1{
    float: left;
}
.float-left{
    float: left;
    margin-left: 40px;
}
.float-right{
    float: right;
    margin-right: 40px;
}
.clearfix:after {
    content     : ".";
    visibility  : hidden;
    display     : block;
    height      : 0;
    clear       : both;
 }
 