/* coomon styles*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/**,
*::before,
*::after{
    box-sizing: border-box;
}*/
body{
    font-family: 'Roboto', sans-serif;
display: flex;                                  /*разметка страницы*/
flex-direction: column;
flex-wrap: wrap;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
font-size: x-large;
}


.navbar .container{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
flex-flow: row nowrap;
}
.navbar-brand{

}
.text-dark{
color: rgb(12, 4, 124);
}
.text-center{
    text-align: center;
}
.font-weight-bold{
font-weight: 900;
}
.text-uppercase{
text-transform: uppercase;         /*верхний регистр */
}
.navbar-nav{

}
.nav-item{
    

}
.nav-link{
color: rgb(24, 119, 24);
font-weight: 800;
}


                              /**/
.row{
display: flex;
}
.col-4{
    max-width: calc(4*100%/12);
}
img{
    max-width: 100%;
}

          /*contact*/
.backgraund-image{
    background-image: url(../images/contact.jpg);
    background-size: cover;
    min-height: 25rem;
    background-attachment: fixed;
}
          /*footer*/

.bg-white{
    background-color: rgb(202, 188, 110);
}
.justify-content-around{
    justify-content: space-around;
}